.hero {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-img.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  max-width: 1600px;
  // height: 600px;
  background-color: $footer-bg-color;

  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0px;

  @media screen and (min-width: 1200px) {
    padding: 200px 0px;
  }
}

.hero__title {
  margin-bottom: 30px;
  width: 360px;
  margin-left: auto;
  margin-right: auto;

  color: $color-white;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 1200px) {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;

    font-size: 44px;
    width: 696px;
  }
}
