.page-header {
  padding-bottom: 16px;
  padding-top: 16px;
  background-color: $color-white;
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 767px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    padding: 26px 0px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.page-header .container {
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    position: relative;
  }
}

.page-header__thumb {
  width: 100%;

  @media screen and (max-width: 767px) {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    height: 100vh;

    padding: 48px 40px;

    opacity: 0;

    background-color: $color-white;
    transform: translateX(-100%);

    transition: opacity 550ms $primary-cubic, transform 550ms $primary-cubic;

    &.is-open {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.menu-button {
  position: relative;
  z-index: 1;

  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  cursor: pointer;
  background-color: transparent;

  transition: fill 250ms $primary-cubic;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media screen and (min-width: 767px) {
    display: none;
  }

  & .icon-cross {
    opacity: 0;

    transition: opacity 250ms $primary-cubic;
  }
}

.menu-button.is-open .icon-cross {
  transition: opacity 250ms $primary-cubic;
  opacity: 1;
}

.menu-button.is-open .icon-menu {
  opacity: 0;
}

.site-nav {
  margin-right: auto;

  @media screen and (max-width: 767px) {
    // margin-bottom: 302px;
    margin-bottom: auto;
  }
}

.site-nav__list {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.site-nav__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }

  @media screen and (min-width: 768px) {
    margin-right: 50px;
  }
}

.site-nav__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $sec-fontcolor;
  text-decoration: none;

  transition: color 250ms $primary-cubic;
  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (max-width: 479px) {
    font-size: 30px;
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    font-size: 40px;
  }

  @media screen and (min-width: 768px) {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.site-nav__link--current {
  color: $accent-color;

  &::after {
    @media screen and (min-width: 768px) {
      content: '';
      position: absolute;
      left: 0;
      bottom: -4px;

      width: 100%;
      height: 4px;
      background: $accent-color;
      border-radius: 2px;
    }

    @media screen and (min-width: 1200px) {
      content: '';
      position: absolute;
      left: 0;
      bottom: -1px;

      width: 100%;
      height: 4px;
      background: $accent-color;
      border-radius: 2px;
    }
  }
}

.contact-header {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;

    margin-bottom: 64px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}

.contact-header__item:not(:last-child) {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}

// .contact-header__item {
// }

.contact-header__link {
  transition: color 250ms $primary-cubic;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: $primary-fontcolor;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 767px) and (max-width: 1199px) {
    font-size: 12px;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }

  // ---------------

  @media screen and (max-width: 479px) {
    &[href*='tel'] {
      display: inline-block;
      font-weight: 500;
      font-size: 24px;
      line-height: 1.176;
      letter-spacing: 0.02em;
      color: $accent-color;
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    &[href*='tel'] {
      display: inline-block;
      font-weight: 500;
      font-size: 34px;
      line-height: 1.176;
      letter-spacing: 0.02em;
      color: $accent-color;
      margin-bottom: 32px;
    }
  }

  @media screen and (max-width: 479px) {
    &[href*='mail'] {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.16;
      letter-spacing: 0.02em;
    }
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    &[href*='mail'] {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.16;
      letter-spacing: 0.02em;
    }
  }
}

.contact-header__contact-icon {
  fill: currentColor;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }
}

.social-header {
  display: flex;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.social-header__item {
  &:not(:last-child) {
    margin-right: 20px;
    @media screen and (max-width: 480px) {
      margin-right: 15px;
    }
  }
}

.social-header__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: $accent-color;

  @media screen and (min-width: 375px) and (max-width: 480px) {
    font-size: 16px;
  }

  @media screen and (min-width: 481px) and (max-width: 767px) {
    font-size: 18px;
  }
}
