.peculiarity__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: -15px;
  }
}

.peculiarity__item {
  @media screen and (max-width: 480px) {
    max-width: 450px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 15px;
    // width: 50%;

    flex-basis: calc((100% - 2 * 30px) / 2);
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.peculiarity__thumb {
  width: 100%;
  height: 120px;
  background-color: $primary-bg-color;
  margin-bottom: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.peculiarity__icon {
  width: 70px;
  height: 70px;
}

.peculiarity__sub-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $sec-fontcolor;

  margin-bottom: 10px;
}

.peculiarity__text {
  line-height: 1.71;
}
