.section.work {
  padding-top: 0;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.work__list {
  display: flex;
  flex-wrap: wrap;
}

.work__item:not(:last-child) {
  margin-right: 30px;
}

.work__thumb {
  position: relative;
}

.work__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  text-transform: uppercase;
  color: $color-white;
}
