body {
  background-color: $color-white;
  color: $primary-fontcolor;

  font-size: $primary-fontsize;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visualy-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.no-scroll {
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;

  @media screen and (max-width: 479px) {
    max-width: 480px;
  }

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding: 94px 0px;
  }
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;

  color: $sec-fontcolor;

  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  height: 50px;

  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;

  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;

  color: $color-white;
  background-color: $accent-color;

  transition: background-color 250ms $primary-cubic;

  &:hover,
  &:focus {
    background-color: $hero-button-hover;
  }
}
