$primary-fontcolor: #757575;
$primary-fontsize: 14px;
$primary-bg-color: #f5f4fa;
$sec-fontcolor: #212121;
$accent-color: #2196f3;
$color-white: #ffffff;
$color-black: #000000;
$footer-bg-color: #2f303a;
$address-contact-color: rgba(255, 255, 255, 0.6);
$hero-button-hover: #188ce8;
$social-primary-color: #afb1b8;
$portfolio-backdrop: rgba(33, 150, 243, 0.9);
$primary-cubic: cubic-bezier(0.4, 0, 0.2, 1);
